.question {
	margin-bottom: 40px;
}
.question-text {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	text-align: center;
}
.question-options {
	display: flex;
	flex-direction: row;
}
.question-option {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: 0;
}
.question-option > input {
	width: 30px;
	height:30px;
	margin-left: auto;
	margin-right: auto;
}
.question-option > label {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
.submit {
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 36px;
}

pre {
	background: lightgrey;
	border: 1px solid black;
	padding: 5px;
	margin-left: 10px;
}

main {
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid grey;
	border-radius: 10px;
	box-shadow: 0 0 7px -2px black;
	padding: 20px;
	margin-bottom: 10px;
}

header {
	border-bottom: 1px solid grey;
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: 0 0 7px -2px black;
	display: flex;
}
header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}
footer {
	border-top: 1px solid grey;
	padding: 10px;
	margin-top: auto;
	box-shadow: 0 0 7px -2px black;
}

.bar-container {
    display: flex;
    overflow: hidden;
    border: 1px solid grey;
	box-shadow: 0 0 4px -2px black;
	border-radius: 10px;
}
.bar-percent {
    margin: 5px;
}
.bar {
    display: flex;
    width: 100%;
}
.bar-fill {
    background-color: #10e010;
}
.bar-empty {
    background-color: grey;
}

body {
	margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}