<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Survey-Data {{title}}</title>
		<link href="/static/style.css?{{ style_hash }}" rel="stylesheet"/>
	</head>
	<body>
		<header>
			<a href="/">Survey-Data</a> <h1>{{ title }}</h1>
		</header>
		<main>
		{% block content %}{% endblock content %}
		</main>
		<footer>
			footer
		</footer>
	</body>
</html>